 <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<div class="banner">


<!-- earch fields  -->

    <%= form_tag buddies_path,class: "search",method: :get do %>
  <div class="title country">country</div>
  <%= select_tag(:country, options_for_select(Countrie.all.pluck(:name) ,params[:country]))%>
  <div class="title town">city/town</div>
  <%= text_field_tag :town, params[:town] %>
  <div class="title town">hobby</div>
  <%= text_field_tag :hobby, params[:hobby] %>
  <div class="title within">distance(kilometers)</div>
  <%= select_tag(:distance, options_for_select([10,20,30,40,50,60,70,80],params[:distance]))%>
  <div class="title age">age</div>
  <%= select_tag(:age, options_for_select([['18-25'],['26-30'],['31-35'],['36-40'],['41-45'],['46-50'],['51-60'],['61-70'],['70+']] ,params[:age]))%>
  <div class="input">*gender</div>
  <%= select_tag(:gender, options_for_select([['male'],['female']] ,params[:gender]))%>
  <%= submit_tag "Search", name: nil%>
  <% end %>
    <%flag = 0%>
<div class="container">
  <div><%=link_to 'show all' ,buddies_path,class:"btn-success"%></div>
   <div class="row all_buddies">
  <%@buddies.each do |buddie|%>
  <div class="col-lg-2 col-md-6 col-6">

    <%=link_to show_other_buddie_buddy_path(buddie) do%>
           <%flag +=1%>
     <% if buddie.photo.blank? == false%>
        <div class="card" id="card<%=flag%>" name="<%=buddie.name%>"style="background:linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),url(<%=cl_image_path "#{buddie.photo}"%>); border: solid white 1px;box-shadow: 5px 5px 5px;background-position: center;background-size: 100% 100%;">
          <%elsif buddie.gender == "male"%>
          <div class="card" id="card<%=flag%>" name="<%=buddie.name%>"style="background:linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),url(http://winkeyecare.com/wp-content/uploads/2013/03/Empty-Profile-Picture-450x450.jpg); border: solid white 1px;box-shadow: 5px 5px 5px;background-position: center;background-size: 100% 100%;">
            <%else%>
               <div class="card" id="card<%=flag%>" name="<%=buddie.name%>"style="background:linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),url(https://www.alitumbas.av.tr/uploads/empty-profile-picture-woman.jpg); border: solid white 1px;box-shadow: 5px 5px 5px;background-position: center;background-size: 100% 100%;">
              <%end%>
               <div id="name"><%=buddie.name%></div><div id="hobby"><%=buddie.hobby%></div><div id="gender"><%=buddie.gender%></div><div id="age"><%=buddie.age%></div><div id="level"><%=buddie.level%></div>


        </div>
      </div>
  <%end%>
<%end%>
      </div>
  </div>
</div>
 <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @buddies %>
    </div>
    <%= will_paginate @buddies, :container => false %>
  </div>



  <%if flash[:success].blank? == false%>
        <div id="confirmation"><%=flash[:success]  %></div>
        <%end%>
 </div>
</div>
<style>
  .btn-success {padding:20px;width:100px;margin-top:3000px;border-radius:15px;background-color:#fbfafa;
}
  .search{position: absolute;top: 278px;left: 10px;}
  #confirmation{margin-top:10px;}
  .digg_pagination {
    position:absolute;
    top: 830px;
    left: 700px;
}

  p{position:absolute;top:100px;font-size:40px;}
  .container{position:absolute;top: 159px;left: 308px;}


  .banner

{
  margin-top:-17px;
  height:100vh;
  justify-content:center;
  color:white;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1555322198/basketball-court-black-and-white-casual-428318.jpg');
  background-position: center;
  background-size:100% 100%;

}
table{width:500px;margin-left:20px;position:absolute;top:200px;border-spacing:0 15px;border-collapse:separate; border: 3px solid white;font-size:23px;border-spacing: 1em .5em;}


.card {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  height:18vh;
  width:8vw;
  margin-top:144px;


}
.buddies
{
  position:absolute;
  top:100px;
}

 @media (max-width:767px){
  .card{width: 44vw;
    margin-left: -56px;}
  .container {top:505px;left: 49px;}
  .digg_pagination {position: absolute;top: 2182px;left: 74px;
}
.banner
{
  height:2400px;
}

}


@media only screen and (max-width: 1200px) and (min-width: 767px)  {
 .card{width:35vw;margin-left:-16px;height:230px;}
 .container{top:178px;}
}

</style>
<script>

   $( document ).ready(function() {


     $( ".card" ).hover(function() {
      var contentToRemove = document.querySelectorAll("p");
      $(contentToRemove).remove();
      let full_info = $(this).html();
      let temp_for_name = full_info.substr(31);
      let temp_for_hobby = full_info.substr(56);
      let just_name = temp_for_name.split('<')[0];
      let just_hobby = temp_for_hobby.split('<')[0];
 if (just_hobby.includes(">")) {

      just_hobby =  just_hobby.split('>')[1];

    }
      let temp_for_age = full_info.split('ge">')[1];
      let just_age = temp_for_age.split('<')[0];
      if (just_age.includes(">")){
      just_age = just_age.split('>')[1];
      }
      let p = document.createElement("p");
      let line_break = document.createElement("br");
      let line_break2= document.createElement("br");
      p.append("Name: ");
      p.append(just_name);
      p.append(line_break);
      p.append("Hobby: ")
      p.append(just_hobby);
      p.append(line_break2);
      p.append("Age:");
      p.append(just_age);
      $(".container").after(p);



});

    function makebannersmaller() {

      let  smallscreen = window.matchMedia("(max-width:700px)");
      let num = 0
      $( ".card" ).each(function() {
       num += 1;

      });

      if (smallscreen.matches) {
       if (num < 3){
          $(".banner").css("height","1000px");
          $(".digg_pagination").css("top","1000px");
          $(".container").css("top","500px");
       }
      else if (num < 7){
          $(".banner").css("height","1500px");
          $(".digg_pagination").css("top","1500px");
          $(".container").css("top","650px");
       }


      }

     }

    makebannersmaller();


   });

</script>




<!-- if (smallscreen.matches) {
        if (num < 7) {
          alert("good");
          $(.banner).css("height","800px");
        }

      } -->
