<div class="banner">
  <%if @buddie[:photo] != nil%>
   <div class="photo" style="background-image:linear-gradient(rgba(0,0,0,.35),
  rgba(0,0,0,.35)),url(<%=cl_image_path "#{@buddie.photo}"%>);">
   </div>
   <%elsif @buddie.gender == "male" %>
   <div class="photo" style="background-image:linear-gradient(rgba(0,0,0,.35),
  rgba(0,0,0,.35)),url(http://winkeyecare.com/wp-content/uploads/2013/03/Empty-Profile-Picture-450x450.jpg);">
   </div>
   <%else%>
   <div class="photo" style="background-image:linear-gradient(rgba(0,0,0,.35),
  rgba(0,0,0,.35)),url(https://www.alitumbas.av.tr/uploads/empty-profile-picture-woman.jpg);">
   </div>
  <%end%>
  <div id="heading_box">
    <table>
    <tr><th></th><th></th></tr>
   <tr><td><h2 class="info">Name:</h2></td><td><div class="attribute"><%=@buddie.name%></div></td></tr>
    <tr><td><h2 class="info">Age:</h2></td><td><div class="attribute"><%=@buddie.age%></div></td></tr>
    <tr><td><h2 class="info">Hobby:</h2></td><td><div class="attribute"><%=@buddie.hobby%></div></td></tr>
    <tr><td><h2 class="info">location:</h2></td><td><div class="attribute"><%=@buddie.address%></div></td></tr>
    </table>
  </div>
   <p id="hobby_description"><%=@buddie.hobby_description%></p>

      <% if user_signed_in?%>
          <% if (current_user.has_profile == true)%>

          <%if @buddie.user_id != current_user.id%>
             <%= link_to "send a message", new_buddy_message_path(@buddie), class: "btn btn-primary"%>
             <%else%>
              <%= link_to "my messages", buddy_messages_path(@buddie), class: "btn btn-primary"%>
            <%end%>

          <%end%>
        <%end%>
  </div>



<style>
  .btn-primary{margin-left:15px;}
  table{margin-left:30px;}
  .attribute{font-size:20px;padding-left:10px;}
  #hobby_description{width:1200px;margin-left:20px;margin-top:50px;font-size:20px;}
  .info{font-weight:bold;padding-left:20px;}
 #heading_box{width:auto;margin-left:30px;border:solid;margin-top:87px;max-width: 454px;}
 .line{padding-left:20px;}
 .banner
{
  position:absolute;
  width:100vw;
  height:100vh;
  justify-content:center;
  color:white;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/1389098/pexels-photo-1389098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  margin-top:-7px;

}
.photo
{
  width:230px;
  height:200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  top:50px;
  right:100px;

}
@media (max-width:767px){
#heading_box{margin-top:18px;margin-left:13px;}
#hobby_description{margin-top:200px; width:280px;}
.photo{top:192px;right:50px;}
}

</style>





1


